<!-- {{getOrderDetails() | json}} -->
<div class="container-fluid content-row">
    <div class=row>
        <div class="col-sm-6 col-lg-4 mt-2 mb-2">
            <div class="card h-100">
                <div class="embed-responsive embed-responsive-16by9">
                    <img class="card-img-top embed-responsive-item" src="https://drive.google.com/file/d/1eerg6H7Fu7xiF71etlLd5DKvHLDpO9CB/view?usp=sharing" alt="Card image cap">
                </div>
                
                <div class="card-body">
                  <h5 class="card-title">Your order is confirmed.</h5>
                  <p class="card-text">Your order id is {{getOrderDetails().order_id}}, will be delivered on {{getOrderDetails().delivery_date}} in the slot {{getOrderDetails().delivery_slot}}.</p>
                  <button type="button" (click)="goHome()" class="btn btn-primary col" >
                    Go Home
                    </button>
                </div>
            </div>
        </div>
        
    </div>    
</div>



